/* Login */

.login-form {
    width: 500px;
    border: 1px solid;
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.login-form label {

}